<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="ex" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.log"
            layout="${newline}${longdate} | ${uppercase:${level}}${newline} processId: ${processid} | threadId:  ${threadid} | logger:${logger} | message: ${message}${newline} | stacktrace: ${newline}${stacktrace}${newline}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="ex"/>
  </rules>
</nlog>