<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings  file=".\..\..\..\privateApp.config"/>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=(localdb)\\mssqllocaldb;Database=Events;Trusted_Connection=True;MultipleActiveResultSets=true;"/>
    <add name="mw" connectionString="Server=A-SIZOU;Database=Events;Trusted_Connection=True;MultipleActiveResultSets=true;"/>
    <add name="azure" connectionString="Data Source=tcp:rekreatorserver.database.windows.net,1433;Initial Catalog=Events;User Id=A-SIZOU@rekreatorserver;Password=Memewarrior9)"/>
  </connectionStrings>
</configuration>