<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings  file=".\..\..\..\privateApp.config"/>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=(localdb)\\mssqllocaldb;Database=Events;Trusted_Connection=True;MultipleActiveResultSets=true;"/>
    <add name="mw" connectionString="Server=A-SIZOU;Database=Events;Trusted_Connection=True;MultipleActiveResultSets=true;"/>
  </connectionStrings>
</configuration>