@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}

<section id="aa-property-header" style="min-height: 100px; max-height: 250px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2 style="margin-top: 10px">About</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start slider  -->
<section id="aa-slider" class="about-page">
    <div class="aa-slider-area">
        <!-- Top slider -->
        <div class="aa-top-slider">
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="~/img/slider/1.jpg" alt="img">
                <!-- Top slider content -->
                <div class="aa-top-slider-content">
                    <span class="aa-top-slider-catg">Lead</span>
                    <h2 class="aa-top-slider-title">Alexander Kunavich</h2>
                    <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Minsk, Rubin Plaza (Belarus)</p>
                    <span class="aa-top-slider-off">He is</span>
                    <p class="aa-top-slider-price">God of this project</p>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="~/img/slider/2.jpg" alt="img">
                <!-- Top slider content -->
                <div class="aa-top-slider-content">
                    <span class="aa-top-slider-catg">Intern</span>
                    <h2 class="aa-top-slider-title">Alexander Sizov</h2>
                    <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Minsk, Rubin Plaza (Belarus)</p>
                    <span class="aa-top-slider-off">He is</span>
                    <p class="aa-top-slider-price">UI legend</p>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="~/img/slider/3.jpg" alt="img">
                <!-- Top slider content -->
                <div class="aa-top-slider-content">
                    <span class="aa-top-slider-catg">Intern</span>
                    <h2 class="aa-top-slider-title">Artemi Bondarenko</h2>
                    <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Minsk, Rubin Plaza (Belarus)</p>
                    <span class="aa-top-slider-off">He is</span>
                    <p class="aa-top-slider-price">authorization &amp; authentication slayer</p>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
        </div>
    </div>
</section>
<!-- End slider  -->
<!-- About us -->
<section id="aa-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-about-us-area">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="aa-about-us-left">
                                <img src="~/img/about-us.png" alt="image">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="aa-about-us-right">
                                <div class="aa-title">
                                    <h2>About Us</h2>
                                    <span></span>
                                </div>
                                <p>ReKreator - web application which provides information from other sources about:</p>
                                <ul>
                                    <li>movies;</li>
                                    <li>concerts;</li>
                                    <li>spectacles.</li>
                                </ul>
                                <p>It uses special functionality to parse html pages and save data to it own database. Then it shows all info in intended for this pages. If you want to track events Scheduler can organize newsletter of notifications to you.</p>
                                <p>List of technologies which were used in this project:</p>
                                <ul>
                                    <li>ASP.NET Core</li>
                                    <li>ASP.NET Identity</li>
                                    <li>ADO.NET Entity Framework</li>
                                    <li>MSSQL Server</li>
                                    <li>JQuery</li>
                                    <li>AJAX</li>
                                    <li>Bootstrap</li>
                                    <li>SendGrid</li>
                                    <li>Quartz</li>
                                    <li>AngleSharp</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / About us -->