@{
    Layout = "_Layout";
    ViewData["Title"] = "О нас";
}

<section id="aa-property-header" style="min-height: 100px; max-height: 250px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2 style="margin-top: 10px">О НАС</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start slider  -->
<section id="aa-slider" class="about-page">
    <div class="aa-slider-area">
        <!-- Top slider -->
        <div class="aa-top-slider">
            <!-- Top slider single slide -->
            <div class="aa-top-slider-single">
                <img src="~/img/slider/2.jpg" alt="img">
                <!-- Top slider content -->
                <div class="aa-top-slider-content">
                    <span class="aa-top-slider-catg">Jr. Software Engineer</span>
                    <h2 class="aa-top-slider-title">Александр Сизов</h2>
                    <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i>Минск, Рубин Плаза(Беларусь)</p>
                    <span class="aa-top-slider-off">Он</span>
                    <p class="aa-top-slider-price">Создатель</p>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
        </div>
    </div>
</section>
<!-- End slider  -->
<!-- About us -->
<section id="aa-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-about-us-area">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="aa-about-us-left">
                                <img src="~/img/about-us.png" alt="image">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="aa-about-us-right">
                                <div class="aa-title">
                                    <h2>О нас</h2>
                                    <span></span>
                                </div>
                                <p>ReKreator - веб приложение предостовляющиее информацию из достоверных источников об:</p>
                                <ul>
                                    <li>кинофильмах;</li>
                                    <li>концертах;</li>
                                    <li>спектаклях.</li>
                                </ul>
                                <p>Мы используем специальный функционал, позволяющий обрабатывать HTML страницы и сохранить информацию в базу данных. После этого мы отображаем полученную информацию на одноименных страницах. Если вы хотите отслеживать интересуемые вас события, Scheduler может отправлять вам уведомления о событиях.</p>
                                <p>Технологии используемые в проекти представлены ниже:</p>
                                <ul>
                                    <li>ASP.NET Core</li>
                                    <li>ASP.NET Identity</li>
                                    <li>ADO.NET Entity Framework</li>
                                    <li>MSSQL Server</li>
                                    <li>JQuery</li>
                                    <li>AJAX</li>
                                    <li>Bootstrap</li>
                                    <li>SendGrid</li>
                                    <li>Quartz</li>
                                    <li>AngleSharp</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / About us -->