@model ReKreator.UI.MVC.Models.Account.AccountPasswordEditVIewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit";
}

<section id="aa-property-header" style="min-height: 100px; max-height: 250px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-property-header-inner">
                    <h2 style="margin-top: 10px">Profile</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="aa-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-contact-area">
                    <div class="aa-contact-bottom">
                        <div class="aa-title">
                            <h2>Edit your password</h2>
                            <span></span>
                            <p>Required fields are marked <strong class="required">*</strong></p>
                        </div>
                        <div class="aa-contact-form">
                            <form asp-action="EditPassword" class="contactform">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <p>
                                    <label asp-for="OldPassword">Old password<span class="required">*</span></label>
                                    <input asp-for="OldPassword" />
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </p>
                                <p>
                                    <label asp-for="NewPassword">New password <span class="required">*</span></label>
                                    <input asp-for="NewPassword" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </p>
                                <p>
                                    <label asp-for="NewPasswordConfirmation">Confirm new password <span class="required">*</span></label>
                                    <input asp-for="NewPasswordConfirmation" />
                                    <span asp-validation-for="NewPasswordConfirmation" class="text-danger"></span>
                                </p>
                                <p class="form-submit aa-center-submit-btn">
                                    <input type="submit" name="submit" class="aa-browse-btn" value="Save">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <a asp-action="Profile" class="aa-back-link">Back to profile</a>
    </div>
</section>