<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email confirmation</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon">

    <!-- Font awesome -->
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="~/css/slick.css">
    <!-- price picker slider -->
    <link rel="stylesheet" type="text/css" href="~/css/nouislider.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="~/css/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="~/css/theme-color/default-theme.css" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>
<body>
    <section id="aa-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-about-us-area">
                        <div class="row">
                            <div class="aa-about-us-right">
                                <div class="aa-title">
                                    <img src="https://cdn1.imggmi.com/uploads/2019/4/10/fd8a13b5d4b21c7b6684607681896bd9-full.png" alt="logo" />
                                </div>
                                <div class="aa-title">
                                    <span></span>
                                </div>
                                <div class="aa-title">
                                    <p>@ViewData["EmailConfirmationResult"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>