@model ReKreator.UI.MVC.Models.Account.AccountLogInViewModel

<section id="aa-signin" class="login-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-signin-area">
                    <div class="aa-signin-form">
                        <div class="aa-signin-form-title">
                            <a class="aa-property-home" href="#">ReKreator</a>
                            <h4>Войти в аккаунт</h4>
                        </div>
                        <form class="contactform" id="ajax-login-form">
                            <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="aa-single-field">
                                <label for="login">Имя пользователя <span class="required">*</span></label>
                                @Html.EditorFor(model => model.Login)
                            </div>
                            <div class="aa-single-field">
                                <label for="password">Пароль <span class="required">*</span></label>
                                @Html.EditorFor(model => model.Password)
                            </div>
                            <div class="aa-single-field">
                                <label for="RememberMe">Запомнить </label>
                                @Html.EditorFor(model => model.RememberMe)
                            </div>
                            <div class="aa-single-submit aa-center-submit-btn">
                                <input type="button" value="Войти" class="login-submit-btn" name="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>